<?xml version="1.0" encoding="utf-8"?>
<LoggerSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LoggingDirectory>C:\Users\swiftp\AppData\Roaming\BR\Logging\Data</LoggingDirectory>
  <LoggingLevels>0</LoggingLevels>
  <LoggingOutputs>1</LoggingOutputs>
  <MaxLogFileAge>30</MaxLogFileAge>
  <MaxLogFileSize>10485760</MaxLogFileSize>
  <WriteCallerInfo>true</WriteCallerInfo>
</LoggerSettings>